<% title "Editando #{@local.nome}" %>

<br><br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to @local.nome.truncate(25), locais_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:edit)}", edit_local_path(@local), :class => "nav-link active" %>
  </li>
</ul>
<br>
<%= render 'form', local: @local %>
