---
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['USERNAME_DB'] %>
  password: <%= ENV['PASSWORD_DB'] %>
  host: <%= ENV['HOST_DB'] %>
  port: <%= ENV['PORT_DB'] %>

development:
  <<: *default
  database: onemillionvoices_development

test:
  <<: *default
  database: onemillionvoices_test

production:
  <<: *default
  database: onemillionvoices_production
