<div class="error-box">
  <%= image_tag ("error/404.png"), class: "error" %>
  <br>
</div>

<span style="font-size: 8px; float: right; margin-top: 16px;"><a href="https://storyset.com/web">Web illustrations by Storyset</a></span>