<% title t(:manual) %>


<div class="about">
  <h2>Manual</h2>
  <h2>A step-by-step manual is still in development.</h2>
  <h4>If you need help in the meantime, please contact: marcelo@agroecologymap.org</h4>
</div>
