<% title t(:manual) %>


<div class="error-box">
  <%= image_tag ("manual/manual.png"), width: 500, class: "error" %>
  <br><br>
  <h2>A step-by-step manual is still in development.</h2>
  <h4>If you need help in the meantime, please contact: marcelo@agroecologymap.org</h4>
</div>
