<% title t(:manual) %>

<div class="about">
  <h1>Manual</h1>
  <h2>A step-by-step manual is still in development.</h2>
  <h3>If you need help in the meantime, please contact: marcelo@agroecologymap.org</h3>
</div>
