<% title t(:manual) %>

<div class="about">
  <h1>Manual</h1>
  <h2><%= t(:a_step_by_step_manual_is_still_in_development) %></h2>
  <h3><%= t(:if_you_need_help_in_the_meantime_please_contact) %>: marcelo@agroecologymap.org</h3>
</div>
