<% title t(:who_we_are) %>
<div class="about">
  <h1><%= t(:developers) %> <%= t(:and) %> <%= t(:researchers) %></h1>
  <%= image_tag ("team.png"), width: 400, class: "error" %>
  <br>
  <br>
  <h4>Agroecology Map</h4>
  <a href="https://agroecologymap.org/contributors/marcelo-soares-souza" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://agroecologymap.org/accounts/eduardo-fernandes-formighieri" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="https://agroecologymap.org/accounts/r-b-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://agroecologymap.org/accounts/murilo-gelain" target="_blank">Murilo Gelain Gonçalves</a><br>
  <a href="https://agroecologymap.org/accounts/vitoria-pimentel" target="_blank">Vitória Pimentel</a><br>
  <br>
  <h4>Agroecology Transformative Partnership Platform</h4>
  <a href="https://www.researchgate.net/profile/Lisa-Fuchs-6" target="_blank">Lisa Fuchs</a><br>
  <a href="https://www.linkedin.com/in/fabio-ricci-2019/" target="_blank">Fabio Ricci</a><br>
  <a href="#">Daria Levina</a><br>
  <a href="https://www.linkedin.com/in/cannell-van-dien-85664720a/?originalSubdomain=nl" target="_blank">Cannell van Dien</a><br>
  <a href="https://www.cifor-icraf.org/speaker/matthias-geck/" target="_blank">Matthias Geck</a><br>
  <br>
  <h4>One Million Voices Partners + Networks</h4>
  <a href="#">Esther Penunia</a><br>
  <a href="#">Maria 'Rosy' Mondardini</a><br>
  <a href="#">Irish Baguilat</a><br>
  <a href="#">Swati Renduchintala</a><br>
  <a href="#">Tsuamba Bourgou</a><br>
  <a href="#">Sergio Iván Larrea Macías</a><br>
</div>
