<br><br><br>
<div class="friends">
  <%= image_tag ("team.png"), class: "error" %>
  <br><br>
  <h2><%= t(:developers) %> and <%= t(:researchers) %></h2>
  <br>
  <a href="https://www.researchgate.net/profile/Lisa-Fuchs-6" target="_blank">Lisa Fuchs</a><br>
  <a href="https://www.researchgate.net/profile/Marcelo-Souza-27" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://www.linkedin.com/in/eduformi/" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="https://github.com/cpt-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://www.linkedin.com/in/murilo-gelain-gon%C3%A7alves/" target="_blank">Murilo Gelain Gonçalves</a><br>
  <a href="https://www.linkedin.com/in/vitoria-pimentel/" target="_blank">Vitória Pimentel</a><br>
</div>
