<% title t(:who_we_are) %>
<div class="about">
  <h1><%= t(:developers) %> and <%= t(:researchers) %></h1>

  <%= image_tag ("team.png"), width: 400, class: "error" %>
  <br><br>
  <a href="https://www.researchgate.net/profile/Lisa-Fuchs-6" target="_blank">Lisa Fuchs</a><br>
  <a href="https://www.linkedin.com/in/fabio-ricci-2019/" target="_blank">Fabio Ricci</a><br>
  <a href="https://www.researchgate.net/profile/Marcelo-Souza-27" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://www.linkedin.com/in/eduformi/" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="https://github.com/cpt-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://www.linkedin.com/in/murilo-gelain-gon%C3%A7alves/" target="_blank">Murilo Gelain Gonçalves</a><br>
  <a href="https://www.linkedin.com/in/vitoria-pimentel/" target="_blank">Vitória Pimentel</a><br>
</div>