<p>Hi <%= @resource.email %>!</p>

<p>Your Account has been blocked due to too many unsuccessful login attempts..</p>

<p>Click on the Link below to unlock your account:</p>

<p><%= link_to 'Unlock My Account', unlock_url(@resource, unlock_token: @token) %></p>
